In [3]:
pip install mplfinance

Requirement already satisfied: mplfinance in c:\users\singh\anaconda3\lib\site-packages (0.12.9b7)
Requirement already satisfied: matplotlib in c:\users\singh\anaconda3\lib\site-packages (from mplfinance) (3.3.4)
Requirement already satisfied: pandas in c:\users\singh\anaconda3\lib\site-packages (from mplfinance) (1.2.4)
Requirement already satisfied: cycler>=0.10 in c:\users\singh\anaconda3\lib\site-packages (from matplotlib->mplfinance) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\singh\anaconda3\lib\site-packages (from matplotlib->mplfinance) (1.3.1)
Requirement already satisfied: numpy>=1.15 in c:\users\singh\anaconda3\lib\site-packages (from matplotlib->mplfinance) (1.20.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\singh\anaconda3\lib\site-packages (from matplotlib->mplfinance) (8.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\singh\anaconda3\lib\site-packages (from matplotlib->mplfinance) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\singh\anaconda3\lib\site-packages (from matplotlib->mplfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\singh\anaconda3\lib\site-packages (from pandas->mplfinance) (2021.1)
Requirement already satisfied: six in c:\users\singh\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->mplfinance) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pandas as pd
import pandas_ta as ta
import mplfinance as mpf

# Calculate Supertrend using pandas_ta
def supertrend_func(data):
    supertrend = ta.supertrend(high=data['High'], low=data['Low'], close=data['Close'], length=10, multiplier=3)

    # Generate buy/short signals based on Supertrend values
    signals = [''] * len(data)
    for i in range(1, len(data)):
        if data['Close'][i] > supertrend['SUPERT_10_3.0'][i]:
            signals[i] = 'Buy'
        else:
            signals[i] = 'Short'

    # Create a new DataFrame with the desired columns
    result = pd.DataFrame({
        'date': data['Date_time'],
        'open': data['Open'],
        'High': data['High'],
        'low': data['Low'],
        'close': data['Close'],
        'signal': signals
    })
    return result
data5=pd.read_csv('data_resampled_5min.csv')
data15 =pd.read_csv('data_resampled_15min.csv')
data30 =pd.read_csv('data_resampled_30min.csv')
data1h =pd.read_csv('data_resampled_1hour.csv')
data4h =pd.read_csv('data_resampled_4hour.csv')

result5 = supertrend_func(data5)
result15 = supertrend_func(data15)
result30 = supertrend_func(data15)
result1h = supertrend_func(data1h)
result4h = supertrend_func(data4h)

result5.to_csv('data_5min_Buy_short.csv')
result15.to_csv('data_15min_Buy_short.csv')
result30.to_csv('data_30min_Buy_short.csv')
result1h.to_csv('data_1h_Buy_short.csv')
result4h.to_csv('data_4h_Buy_short.csv')

In [9]:
result5.head(15)

                   date      open      High       low     close signal
0   2011-01-03 09:15:00  11882.10  11900.90  11873.35  11892.55
1   2011-01-03 09:20:00  11892.55  11909.20  11892.55  11906.65  Short
2   2011-01-03 09:25:00  11906.65  11907.75  11894.05  11896.30  Short
3   2011-01-03 09:30:00  11897.40  11899.00  11882.95  11893.65  Short
4   2011-01-03 09:35:00  11893.65  11907.65  11892.20  11906.55  Short
5   2011-01-03 09:40:00  11906.55  11908.05  11901.05  11903.35  Short
6   2011-01-03 09:45:00  11903.55  11906.55  11894.45  11897.70  Short
7   2011-01-03 09:50:00  11897.70  11902.70  11892.35  11896.10  Short
8   2011-01-03 09:55:00  11896.10  11896.10  11887.45  11895.15  Short
9   2011-01-03 10:00:00  11895.15  11902.65  11892.15  11902.30  Short
10  2011-01-03 10:05:00  11901.55  11901.65  11893.55  11895.30    Buy
11  2011-01-03 10:10:00  11895.30  11895.95  11877.15  11877.25    Buy
12  2011-01-03 10:15:00  11877.25  11879.05  11871.50  11874.35    Buy
13  2011-01-03 10:20:00  11874.35  11874.35  11865.20  11867.70    Buy
14  2011-01-03 10:25:00  11867.70  11869.35  11844.90  11849.65  Short

In [23]:
result1h.head(6)

                  date      open      High       low     close signal
0  2011-01-03 09:15:00  11882.10  11909.20  11873.35  11877.25
1  2011-01-03 10:15:00  11877.25  11879.05  11840.15  11860.80  Short
2  2011-01-03 11:15:00  11860.80  11884.75  11852.55  11852.55  Short
3  2011-01-03 12:15:00  11852.55  11898.95  11841.05  11892.50  Short
4  2011-01-03 13:15:00  11889.05  11908.75  11874.15  11884.20  Short
5  2011-01-03 14:15:00  11884.20  11912.15  11853.05  11869.35  Short

In [20]:
result5.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 228112 entries, 2011-01-03 09:15:00 to 2023-04-19 15:25:00
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   open    228112 non-null  float64
 1   High    228112 non-null  float64
 2   low     228112 non-null  float64
 3   close   228112 non-null  float64
 4   signal  228112 non-null  object
dtypes: float64(4), object(1)
memory usage: 10.4+ MB

In [22]:
result5['date'] = pd.to_datetime(result5['date'])
result5.set_index('date', inplace=True)

KeyError: 'date'

In [24]:
result5.columns

Index(['open', 'High', 'low', 'close', 'signal'], dtype='object')

In [19]:
result5=result5.set_index('date')
mpf.plot(result5)

ValueError: Column "Open" NOT FOUND in Input DataFrame!
            CHECK that your column names are correct AND/OR
            CHECK for leading or trailing blanks in your column names.